.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}

.accordion-grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;

  .grid-content {
    padding: 20px;
  }
}
