.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}

.accordion-grid {
  display: grid;
  grid-template-columns: 50% 50%;

  .grid-content {
    padding: 20px;
  }

  .s-image {
    height: 100%;
    width: 100%;
    overflow: hidden;

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 900px) {
  .accordion-grid {
    grid-template-columns: 100%;

    > .image-slider {
      max-height: 450px;
    }
  }
}
