$black: #161616;
$white: #fff;

$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d58b;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;

$red: #dc2626;
$green: #059669;
$blue: #2563eb;

$primary: #d3723b;
$primary-light: #de976e;
$primary-dark: #bb5f2a;

$secondary: #c8e0ec;