.about-banner {
  min-height: 60vh;
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  background: url("/images/about-us.png");
  background-size: cover;

  border-bottom: 1px solid #000;
  transition: all 1s cubic-bezier(0, 1, 0, 1);

  .banner-heading {
    padding-top: 150px;
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 13ch;
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
    margin-bottom: 0.2rem;
    z-index: 2;
  }

  .banner-description {
    color: #fff;
    z-index: 2;
  }

  &.hidden {
    border-bottom: 0;
    min-height: 0;
    max-height: 0;
    padding: 0 25px;
    overflow: hidden;
  }

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(35.33%, transparent),
      color-stop(110.07%, rgba(0, 0, 0, 0.92))
    );
    background: -webkit-linear-gradient(
      top,
      transparent 35.33%,
      rgba(0, 0, 0, 0.92) 110.07%
    );
    background: linear-gradient(
      180deg,
      transparent 35.33%,
      rgba(0, 0, 0, 0.92) 110.07%
    );
  }
}

@media only screen and (max-width: 768px) {
  .about-banner {
    padding: 25px;

    .banner-heading {
      font-size: 2.8rem;
      line-height: 3rem;
    }
  }
}
