$borders: 1px solid #000;

.green-building-description-grid {
  border-bottom: $borders;
  border-left: $borders;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: stretch;
  grid-template-rows: min-conten;

  .product-name {
    grid-column: 1/3;
    padding: 10px;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: $borders;
  }

  .heading {
    padding: 10px;
    border-bottom: $borders;
    font-weight: 700;
    // border-top: $borders;
    // border-right: $borders;
  }

  .detail {
    padding: 10px;

    &.no-pd {
      padding: 0;
    }
  }

  .size {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: $borders;

    > * {
      border-right: $borders;
    }
  }

  .density {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: $borders;

    > *:not(:last-child) {
      border-right: $borders;
    }
  }

  .thermal {
    border-right: $borders;
  }

  .download {
    .detail-btn {
      display: block;
      margin: 10px 0;
    }

    .download-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .detail:not(:last-child) {
      border-right: $borders;
    }

    .enquire {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    > *:not(:last-child) {
      border-right: $borders;
    }
  }
}

.green-building-description {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div {
    padding: 20px;
    border-bottom: $borders;
  }

  > div:first-child {
    border-right: $borders;
  }
}

@media only screen and (max-width: 1200px) {
  // .green-building-description-grid {
  //   border-right: $borders;
  // }

  .green-building-description {
    > div {
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .green-building-description-grid {
    grid-template-columns: 1fr;
    .download {
      border-top: $borders;
    }

    .density-head {
      grid-row: 4/5;
    }

    .product-name {
      grid-column: 1/2;
    }

    .grid-col {
      border-right: none;
    }

    .size {
      > *:last-child {
        border-right: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .green-building-description-grid {
    border-left: none;
    border-right: none;

    .product-name {
      border-right: none;
    }

    .grid-col {
      border-right: none;
    }
  }

  .green-building-description {
    grid-template-columns: 1fr;

    > div:first-child {
      border-right: none;
      border-bottom: $borders;
    }
  }
}
