.homepage-slider {
  position: relative;

  .navigation-buttons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: inherit;

    display: flex;
    align-items: center;
    gap: 20px;

    > div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border: 1px solid #fff;
      font-size: 1.5rem;
      color: #fff;

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.homepage-slide {
  position: relative;
  height: calc(100vh - 120px);
  padding: 100px;
  color: #fff;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-heading {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 13ch;
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
  }

  .slide-description {
    font-family: "Nunito";
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 60ch;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .homepage-slide {
    padding: 25px;
    height: calc(100vh - 250px);

    .slide-heading {
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
      line-height: 3rem;
    }
  }
}
