.layout-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 70px calc(80% - 35px) calc(20% - 35px);
  grid-template-rows: 70px auto 70px;
  gap: 0px 0px;
  grid-template-areas:
    "side-nav navbar call-now"
    "side-nav main sidebar"
    "side-nav footer .";
}

.side-nav {
  grid-area: side-nav;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.call-now {
  grid-area: call-now;
}

.main {
  grid-area: main;
}
