.ReactModal__Overlay {
  z-index: 999;
  background-color: rgb(63 63 63 / 75%) !important;
}

.ReactModal__Content {
  inset: initial !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}

.product-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 2rem;
    }
  }

  .close-btn {
    font-size: 1.5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  .product-modal-image {
    width: auto;
    height: 70vh;
  }

  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .detail-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 1.2rem;
    }
  }
}
