@use "../abstracts" as *;

.navbar {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  color: $gray-500;
  font-weight: 500;

  .nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .visit-btn {
    width: auto;
    padding: 10px 15px;
    font-size: 0.9rem;
    display: none;
    margin-right: 10px;
  }

  .nav-menu {
    margin-right: auto;
  }

  .call-btn {
    padding: 10px 15px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #000;
    padding-right: 0;
  }
}

.nav-link {
  padding: 2px 0;
}

.nav-link.active {
  font-weight: 700;
  color: black;
  border-bottom: 1px solid black;
}

.mobile-nav {
  margin: 20px;
  height: 40px;
  overflow: hidden;

  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  .logo {
    margin-right: auto;
    > img {
      height: 40px;
    }
  }

  .visit-btn {
    width: auto;
    padding: 10px 15px;
    font-size: 0.9rem;
    margin-right: 10px;
  }

  .call-btn {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .hamburger {
    font-size: 2rem;
  }
}

.mob-nav-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  transform: translateX(100%);
  z-index: 999;
  position: fixed;
  background: #fff;
  border: 1px solid #000;
  font-size: 2rem;
  padding: 70px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;

  .nav-link {
    margin: 10px;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 35px;

    font-size: 2.3rem;
    -webkit-tap-highlight-color: transparent;
  }

  &.active {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    .nav-menu {
      gap: 30px;
    }

    .visit-btn {
      display: block;
    }

    .call-btn {
      display: flex;
    }
  }
}

@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
}
