.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    font-size: 0.9rem;
  }
}
