.catalogue-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page-slide {
  padding: 20px;
  height: 500px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  h2 {
    color: #fff;
    position: inherit;
    z-index: 1;
  }

  .image-wrapper {
    position: absolute;
    inset: 0;
    z-index: -1;

    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    &:hover {
      &::before {
        background: linear-gradient(
          360deg,
          transparent 35.33%,
          rgba(0, 76, 190, 0.92) 110.07%
        );
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(
      360deg,
      transparent 35.33%,
      rgba(0, 0, 0, 0.92) 110.07%
    );
  }

  &:hover {
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(
        360deg,
        transparent 35.33%,
        rgba(0, 119, 255, 0.75) 110.07%
      );
    }
  }
}

.products-swiper-slide {
  .download-btn {
    background: white;
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;

    transform: translateY(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.8;

    transition: all 0.25s ease-in-out;
  }

  &:hover {
    .download-btn {
      transform: translateY(0);
    }
  }
}

.products-banner {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #000;
  transition: all 1s cubic-bezier(0, 1, 0, 1);

  .image-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    > img {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .banner-content {
    padding: 20px 50px;
    .banner-heading {
      color: #000;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 3rem;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &.hidden {
    border-bottom: 0;
    max-height: 0;
    padding: 0 50px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .products-banner {
    grid-template-columns: 100%;
    height: auto;

    .image-wrapper {
      height: 500px;
    }

    .banner-content {
      padding: 20px;
    }

    .banner-heading {
      font-size: 2rem !important;
      line-height: 2.5rem !important;
    }
  }

  .catalogue-page {
    .horizontal-slider {
      padding: 30px 10px;
      gap: 10px;
    }
  }
}
