.seven-reasons-slider {
  height: 40vh;
  overflow: hidden;
  position: relative;

  .slider-heading {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px;
    z-index: 9;
    font-size: 2.3rem;
    max-width: 35ch;
    text-transform: uppercase;
    color: #fff;
  }

  .seven-reasons-swiper {
    height:40vh;

    .seven-reasons-slide {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(35.33%, transparent),
          color-stop(110.07%, rgba(0, 0, 0, 0.92))
        );
        background: -webkit-linear-gradient(
          top,
          transparent 35.33%,
          rgba(0, 0, 0, 0.92) 110.07%
        );
        background: linear-gradient(
          180deg,
          transparent 35.33%,
          rgba(0, 0, 0, 0.92) 110.07%
        );
      }
      .slide-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.seven-reasons-content-slider {
  .swiper {
    padding-bottom: 30px;
  }
  .navigation-buttons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: inherit;

    display: flex;
    align-items: center;
    gap: 20px;

    > div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border: 1px solid #000;
      font-size: 1.5rem;
      color: #000;

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.seven-reasons-content {
  opacity: 0;
  height: 100%;
  color: white;
  background: white;
  padding: 50px;

  .seven-reasons-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    span {
      color: #485563;
    }
  }

  .seven-reasons-description {
    font-size: 1.1rem;
  }

  &.swiper-slide-active {
    opacity: 1;
    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  .seven-reasons-slider {
    height: 300px;

    .slider-heading {
      font-size: 1.6rem;
      margin: 20px;
    }
  }

  .seven-reasons-content {
    padding: 20px;

    .seven-reasons-title {
      font-size: 1.5rem;
    }

    .seven-reasons-description {
      font-size: 1rem;
    }
  }
}
