.sidebar-slider {
  padding: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 10px;

    .nav-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 1rem;

      div {
        color: #000;
        cursor: pointer;
      }

      div:active {
        transform: scale(0.9);
      }
    }
  }

  .sidebar-slide {
    position: relative;
    padding-top: 56.25%;

    .slide-background {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .slide-heading {
      position: inherit;
      z-index: 8;
      font-size: 0.85rem;
      color: #fff;
      bottom: 10px;
      left: 10px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .sidebar,
  .homepage-sidebar {
    display: grid;
    grid-template-columns: 50% 50%;

    > .border-b {
      border: 0;
    }
  }
}
