.sidebar {
  border-bottom: 2px solid #000;
}

.homepage-sidebar {
  .visit-btn {
    background: #031f2c;
    width: 100%;
    padding: 1rem 1.5rem;
    color: #fff;
    text-transform: uppercase;
  }
}
