.navigation-buttons {
  z-index: inherit;

  display: flex;
  align-items: center;
  gap: 20px;

  > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #fff;
    font-size: 1.5rem;
    color: #fff;

    &:active {
      transform: scale(0.95);
    }
  }

  &.black {
    > div {
      color: #000;
      border: 1px solid #000;
    }
  }

  &.solid-black {
    > div {
      color: #fff;
      background: #000;
      border: 1px solid #000;
    }
  }
}
