.swatch-slider {
  height: 40vh;
  width: 100%;
  position: relative;

  .swatch-solo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    z-index: 990;
    background: #000;
    top: 50%;
    transform: translateY(-50%);

    > div {
      color: #fff;
      font-size: 2rem;
    }
  }

  .next-btn {
    right: 20px;
  }

  .prev-btn {
    left: 20px;
  }
}

.swatch-slide {
  height: 40vh;
  width: 100%;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
